$laboratoria-yellow: rgb(247, 182, 23);
$laboratoria-gray: rgb(43, 43, 43);
$column: 8.333%;
$white: #FFF;
$break-small: 320px;
$break-large: 1024px;
$break-medium: 768px;
$list-style: none;
$padding: 2%;
$font-small: 1rem;
